body {
    min-height: 100vh;
    background-color: #8b1e1e;
    font-family: "Segoe UI", sans-serif;
}

.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.login-card {
    width: 100%;
    max-width: 420px;
    border-radius: 20px;
    padding: 40px 30px;
}

.login-card h3 {
    font-weight: 600;
}

.form-control {
    border-radius: 10px;
    padding: 12px;
}

.btn-login {
    background-color: #8b1e1e;
    color: #fff;
    border-radius: 12px;
    padding: 12px;
    font-weight: 500;
    border: none;
}

.btn-login:hover {
    background-color: #701717;
}

.link {
    color: #8b1e1e;
    text-decoration: none;
    font-weight: 500;
}

.link:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 576px) {
    .login-card {
        padding: 30px 20px;
    }
}

.toggle-password {
    position: absolute;
    top: 42px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    color: #888; /* default abu-abu */
    transition: color 0.2s ease;
}

.toggle-password.active {
    color: #8b1e1e; /* merah saat aktif */
}

.toggle-password:hover {
    color: #8b1e1e;
}
